$brand-color-1: #62C8DE;
$brand-color-3: #3BB6D1;
$g10: #E6EBEC;
$g05: #F7FAFA;
$g70: #3B4446;
$g50: #667477;

$sans-serif: 'Libre Franklin', sans-serif;

@import '../../../node_modules/beardcss/stylesheets/beard.before';

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

.mw36 { max-width: 36rem; }
.mw32 { max-width: 32rem; }
.mw20 { max-width: 20rem; }
.smooth { -webkit-font-smoothing: antialiased; }
.bghighlight { background-color: #fffacc; }
.py\.25 { padding-top: .25rem !important; padding-bottom: .25rem !important; }
.ph\.5 { padding-left: .5rem !important; padding-right: .5rem !important; }
.nml\.5 { margin-left: -.5rem !important; }
.o20 { opacity: .2;}
.o70 { opacity: .8;}
.\:o100:hover { opacity: 1; }
.\:o0:hover { opacity: 0; }
.bgbo30 { background-color: rgba(0,0,0,0.5); }
.mb1\.5 { margin-bottom: 1.5rem !important; }
.mr\.5 { margin-right: .5rem !important; }
.circle { border-radius: 50%; }

html {
    font-size: 75%;
}

.container {
    max-width: 58rem;
    margin: 0 auto;
    position: relative;
    padding: 0 14px;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
}

.header {
    padding-bottom: 100px;
}

.tdl-logo > img {
    display: inline-block;
    width: 100%;
    max-width: 36rem;
}

.bggc{
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 65%, #F6F8FB 65%, #F6F8FB 100%);
}

.video-embed {
    padding-bottom: 62.5%;
    position: relative;
    width: 100%;
}

.video-embed > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quote-name {
    background-image: url('/img/avatar-taylor.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 30px;
    padding-top: 5px;
    margin-top: 6px;
}

.icon {
    fill: currentColor;
}

.watch-tdl{
    padding-left: 28px;
    padding-top: 1px;
    margin-top: 14px;
    height: 20px;
    background-image: url('/img/icon-play.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.screenshot {
    max-width: 58rem;
    height: auto;
    margin: 0 auto;
}

.frame {
    margin-left: -14px !important;
    margin-right: -14px !important;
}

.blk, .md-blk3 {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.nmt6 {
    margin-top: -80px;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 2em;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 2em;
}

:not(pre)>code {
    background: #fafafa;
    padding: .5rem 1rem;
    color: #666;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}


@import '../../../node_modules/beardcss/stylesheets/beard.after';
