$brand-color-1: #62C8DE;
$brand-color-3: #3BB6D1;
$g10: #E6EBEC;
$g05: #F7FAFA;
$g70: #3B4446;
$g50: #667477;

$sans-serif: 'Libre Franklin', sans-serif;

@import '../../../node_modules/beardcss/stylesheets/beard.before';

html {
    font-size: 70%;
}

// body{
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// }

.container{
    max-width: 58rem;
    margin: 0 auto;
    position: relative;
    padding: 0 14px;
}

.card{
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);

}

.header{
    padding-bottom: 100px;
}

.tdl-logo > img {
    display: inline-block;
    width: 100%;
    max-width: 28rem;
}

.video-embed{
    padding-bottom: 62.5%;
    position: relative;
    width: 100%;
}

.video-embed > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quote-name{
    background-image: url('/img/avatar-taylor.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    height: 32px;
    padding-top: 6px;
}

.screenshot{
    max-width: 58rem;
    height: auto;
    margin: 0 auto;
}

.frame{
    margin-left: -14px !important;
    margin-right: -14px !important;
}

.blk, .md-blk3{
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.nmt6{
    margin-top: -80px;
}

ul{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 2em;
}

ol{
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 2em;
}

:not(pre)>code {
    background: #fafafa;
    padding: .5rem 1rem;
    color: #666;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}




@import '../../../node_modules/beardcss/stylesheets/beard.after';
